@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    background-color: var(--cor-body);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--cor-texto-secundario);
    font-family: 'Overpass', sans-serif;
    position: relative;
}

.main .formulario{
    width: 345px;
    background-color: var(--cor-caixa-avaliacao);
    border-radius: 22px;
    padding: 20px;
    position: absolute;
    z-index: 1;
}

.main .formulario .icone-estrela{
    padding: 12px;
    background-color: hsla(217, 12%, 63%, 0.2);
    border-radius: 50%;
}

.main .titulo{
    color: var(--cor-texto-primario);
    font-weight: 700;
    margin: 20px 0;
}

.main p{
    font-size: 14px;
    margin: 22px 0;
}

.main .radio{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main .radio label{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.main .radio label span{
    width: 100%;
    height: 100%;
    background-color: hsla(217, 12%, 63%, 0.2);
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    z-index: 1;
}

.main .radio label input{
    all: unset;
    color: var(--cor-texto-secundario);
}

.main .radio label input:checked + span{
    background-color: var(--cor-texto-secundario);
    color: var(--cor-texto-primario);
}

.main .radio label input:active + span{
    background-color: var(--cor-destaque);
    color: var(--cor-texto-primario);
}

.main .formulario button{
    border: none;
    cursor: pointer;
}

.main .formulario .enviar{
    width: 100%;
    background-color: var(--cor-destaque);
    color: var(--cor-texto-primario);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 18px;
    margin: 25px 0 30px;
}

.main .formulario button:active{
    color: var(--cor-destaque);
    background-color: var(--cor-texto-primario);
}

.main .agradecimento{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.main .agradecimento .msg-nota{
    color: var(--cor-destaque);
    background-color: hsla(217, 12%, 63%, 0.2);
    border-radius: 20px;
    padding: 10px;
}