@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--cor-body);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card{
    color: var(--cor-texto-secundario);
    width: 400px;
    height: 410px;
    background-color: var(--cor-caixa-avaliacao);
    border-radius: 22px;
    padding: 20px;
    position: absolute;
    opacity: 1;
    z-index: 1;
    transition: all .5s linear;
}

.main .icon-star{
    padding: 12px;
    background-color: hsla(217, 12%, 63%, 0.15);
    border-radius: 50%;
}

.main .title{
    color: var(--cor-texto-primario);
    font-weight: 700;
    margin: 20px 0;
}

.main p{
    font-size: 15px;
    margin: 22px 0;
}

.main .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .buttons .button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(149, 158, 172, 0.15);
    color: var(--cor-texto-secundario);
}

.buttons .button:hover{
    background-color: var(--cor-texto-secundario);
    color: var(--cor-texto-primario);
}

.buttons .button.selected{
    background-color: var(--cor-destaque);
    color: var(--cor-texto-primario);
}

.main form button[type=submit]{
    width: 100%;
    background-color: var(--cor-destaque);
    color: var(--cor-texto-primario);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 18px;
    margin: 25px 0 30px;
    letter-spacing: 3px;
}

.main form button[type=submit]:hover{
    background-color: #fff;
    color: var(--cor-destaque);
}

.thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all .7s linear;
}

.inactive{
    z-index: -1;
    opacity: 0;
}

.thank-you img{ margin: 25px 0 36px;}

.thank-you .span{
    color: var(--cor-destaque);
    background-color: rgba(149, 158, 172, 0.15);
    border-radius: 20px;
    padding: 8px 20px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 15px;
}

.thank-you h3{
    color: var(--cor-texto-primario);
    margin-bottom: 25px;
}

.thank-you p{
    font-size: 15px;
    margin: -10px 0 20px;
    text-align: center;
    width: 340px;
}