@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    background-color: var(--cor-body);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--cor-texto-secundario);
    font-family: 'Overpass', sans-serif;
}

.main .formulario{
    width: 345px;
    height: 361px;
    background-color: var(--cor-caixa-avaliacao);
    border-radius: 22px;
    padding: 20px;
    overflow: hidden;
}

.main .formulario .primeira-parte .icone-estrela{
    padding: 12px;
    background-color: hsla(217, 12%, 63%, 0.2);
    border-radius: 50%;
}

.main .titulo{
    color: var(--cor-texto-primario);
    font-weight: 700;
    margin: 20px 0;
}

.main p{
    font-size: 14px;
    margin: 22px 0;
}

.main .formulario .primeira-parte .avaliacao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario .primeira-parte .avaliacao label{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.formulario .primeira-parte .avaliacao label span{
    width: 100%;
    height: 100%;
    background-color: hsla(217, 12%, 63%, 0.2);
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
}

.primeira-parte .avaliacao label input{
    all: unset;
    color: var(--cor-texto-secundario);
}

.primeira-parte .avaliacao label input:checked + span{
    background-color: var(--cor-texto-secundario);
    color: var(--cor-texto-primario);
}

.primeira-parte .avaliacao label input:active + span{
    background-color: var(--cor-destaque);
    color: var(--cor-texto-primario);
}

.main .formulario .primeira-parte button{
    border: none;
    cursor: pointer;
}

.main .formulario .primeira-parte .enviar{
    width: 100%;
    background-color: var(--cor-destaque);
    color: var(--cor-texto-primario);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 18px;
    margin: 25px 0 30px;
}

.main .formulario .primeira-parte button:active{
    color: var(--cor-destaque);
    background-color: var(--cor-texto-primario);
}

.main .formulario .inativa{
    max-height: 0;
    opacity: 0;
    transition: max-height .01s linear, opacity .05s linear;
}

.main .formulario .ativa {
    opacity: 1;
    transition: all .7s linear;
}

.main .formulario .segunda-parte .agradecimento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario .segunda-parte .agradecimento .img-agradecimento{
    width: 50%;
    margin: 15px 0 10px;
}

.formulario .segunda-parte .agradecimento .msg-nota{
    color: var(--cor-destaque);
    background-color: hsla(217, 12%, 63%, 0.2);
    border-radius: 20px;
    padding: 8px;
    margin: 20px 0 10px;
    font-weight: 400;
    font-size: 15px;
}

.formulario .segunda-parte .agradecimento p{
    margin: -10px 0 20px;
    text-align: center;
}