:root {
    --cor-body: hsl(216, 12%, 8%);
    --cor-caixa-avaliacao: #252d37;
    --cor-texto-primario: hsl(0, 0%, 100%);
    --cor-texto-secundario: #7c8798;
    --cor-destaque: hsl(25, 97%, 53%);
}